.is-centered-x-y {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.is-full-height {
    height: 100%
}

.is-full-width {
    width: 100%
}

.is-vertically-centered {
    display: flex;
    align-items: center;
}

.is-horizontally-centered {
    display: flex;
    justify-content: center;
}

.is-vertically-and-horizontally-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-overflow-capable {
    max-height: 100%;
    overflow: auto;
}